.floor-plan-div {
  display: grid;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
div {
  border: 2px solid lightgray;
}

.living-room-div {
  background-color: darkorchid;
  color: white;
}

.bedroom-div {
  background-color: darkcyan;
  color: white;
}

.kitchen-div {
  background-color: darkgoldenrod;
  color: white;
  padding: 10px;
}

.oven-div {
  background-color: darkred;
}

.sink-div {
  background-color: darkgreen;
}

.bath-div {
  background-color: darkblue;
  color: white;
}